body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    display: inline-block;
    height: 40px;
    min-width: 200px;
    margin-right: 10px;
}

.card-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

.card {
    margin: 10px 0;
}

.btn--like {
    background: blue;
    color: white;
}
